In [2]:
import pandas as pd

In [3]:
data={'key':['b','b','a','c','a','a','b'],'data1':range(7)}
df1=pd.DataFrame(data)

data1={'key':['a','b','d'],'data2':range(3)}
df2=pd.DataFrame(data1)
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [16]:
df2

   data2 key
0      0   a
1      1   b
2      2   d

In [5]:
pd.merge(df1,df2)

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [18]:
df3=pd.DataFrame({"HPI":[80,90,70],"rate":[1,2,2,]},index=[2001,2002,2003])

In [19]:
df4=pd.DataFrame({"HPI":[80,90,70],"rate":[1,2,3]},index=[2006,2007,2007])

In [20]:
pd.merge(df3,df4)

   HPI  rate
0   80     1
1   90     2

In [21]:
pd.merge(df3,df4,on="HPI")

   HPI  rate_x  rate_y
0   80       1       1
1   90       2       2
2   70       2       3

In [22]:
df3=pd.DataFrame({"HPI":[80,90,70],"rate":[1,2,2,]},index=[2001,2002,2003])

In [23]:
df4=pd.DataFrame({"HPI1":[80,90,70],"rate2":[1,2,3]},index=[2006,2007,2007])

In [6]:
pd.merge(df3,df4,left_on="HPI",right_on="HPI")

NameError: name 'df3' is not defined

In [31]:
from numpy import nan as NA
df4=pd.DataFrame({'key':['a','b','c'],'data':[4,5,6]})
df5=pd.DataFrame({'key':['b','d','e'],'data':[5,5,9]})

pd.merge(df4,df5,how="left")

   data key
0     4   a
1     5   b
2     6   c

In [32]:
pd.merge(df4,df5,how="outer")#merge all data

   data key
0     4   a
1     5   b
2     6   c
3     5   d
4     9   e

In [37]:
#dat muniging:changing data from onr  form to  another

pd.read_csv('pandas.csv')

   country   code
0       877     0

In [38]:
df1.to_html('pandas.html',index_col=0)

AttributeError: 'DataFrame' object has no attribute 'to_'

In [40]:
df1.to_excel('panda.xls')

PermissionError: [Errno 13] Permission denied: 'panda.xls'

In [43]:
#data joining or  concatenting
df=pd.DataFrame({'training':['python','java','mysql']},index=[100,102,103])

df1=pd.DataFrame({'cost':[20000,20000,20000]},index=[100,101,103])

df.join(df1)

    training     cost
100   python  20000.0
102     java      NaN
103    mysql  20000.0

In [42]:
df1.join(df)

      cost training
100  20000   python
101  20000     java
103  20000    mysql

In [50]:
concat=pd.concat([df,df1])
concat

        cost training
100      NaN   python
102      NaN     java
103      NaN    mysql
100  20000.0      NaN
101  20000.0      NaN
103  20000.0      NaN

In [51]:
df

    training
100   python
102     java
103    mysql

In [52]:
#change the  column  name  of the  data frame use rename method
df.rename(columns={'training':'new_training'})

    new_training
100       python
102         java
103        mysql

In [53]:
#instrospection
len?

In [58]:
def add(a,b):
    '''this will add the two  number and return  sum'''
    return a+b
add(2,3)

5

In [59]:
#to get help regarding panda merge function 
#pd.merge??

In [61]:
#%load jupyter.py 
print("hello world")

hello world

In [ ]:
# %load jupyter.py
print("hello from  jupyter")

In [63]:
import pandas as pd
import datetime